body {
  margin: 0;
  background: linear-gradient(160deg, #a2cbee, #d4e6f8);
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 0;
}

.linkButton {
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 8px;
  text-decoration: none;
}


/* .page-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./img/pregnancy.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
} */

/* .card {
  width: 100%;
  aspect-ratio: 2 / 3;
  background: #cec9b3;
  border-radius: 18px;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1),
    inset 0 0 2px rgba(0, 0, 0, 0.05);
  padding: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  background-image:
    radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%),
    url('./img/paper4.avif');
  background-size: cover;
  background-blend-mode: overlay;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  z-index: 2;
  margin: 0;
} */

/* .card:hover {
  transform: translateY(-6px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07),
    0 12px 30px rgba(0, 0, 0, 0.15),
    inset 0 1px 0 rgba(255, 255, 255, 0.9);
} */

.controls {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.card .controls {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  /* stack arrows & counter vertically */
  align-items: center;
}

.controls .arrow-row {
  display: flex;
  gap: 12px;
  z-index: 3;
}

.count-cards {
  font-size: 0.9rem;
  margin-top: 6px;
  color: #555;
  z-index: 3;
}

.arrow {
  background: none;
  border: none;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  opacity: 0.75;
  transition: opacity 0.2s, transform 0.2s;
  z-index: 3;
}

.arrow:hover {
  opacity: 1;
  transform: translateY(-2px) scale(1.1);
}

.hamburger-container {
  position: relative;
  margin: 10px;
}

.hamburger {
  font-size: 34px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Playfair Display', serif;

}

.nav-links {
  position: absolute;
  top: 100%;
  left: 0;
  width: 50px;
  list-style: none;
  margin: 0;
  padding: 10px;
  top: 40px;
  right: 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease;
  opacity: 1;
  pointer-events: auto;
}



.nav-links.show {
  transform: scaleY(1);
  opacity: 1;

}

.linkButton-hamburger {
  text-decoration: none;
  color: #333;
  margin-bottom: 10px;
  /* display: block; */
  /* width: 100%; */
}

.linkButton-hamburger:hover {
  background-color: #f0f0f0;
}


.deck-container {
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
  text-align: center
}


body {
  background: #f2f2f2;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

#root {
  position: relative;
  z-index: 1;
}

.deck-cover {
  width: 250px;
  height: 350px;
  perspective: 1000px;
  margin: 20px;
  position: relative;
  cursor: pointer;

}



.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;

}

.deck-cover:hover .card-inner,
.deck-cover:active .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 1.2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}



.card-back {
  /* background: linear-gradient(135deg, #43e97b, #38f9d7); */
  transform: rotateY(180deg);
  padding: 20px;
  text-align: left;
  background-color: #e1e0d9;
  background-size: cover;
  background-blend-mode: overlay;
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
  font-family: 'Playfair Display', serif;
  font-size: 22px
}

.deck-cover:hover {
  transform: translateY(-10px);
}

.deck-cover:hover .card-front,
.deck-cover:hover .card-back {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

.deck-cover::before,
.deck-cover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  /* background: white; */
  background-image:
    radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%),
    url('./img/paper4.avif');
  background-size: cover;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  z-index: -1;

}

.deck-cover::before {
  transform: rotate(-3deg) translate(-10px, 8px);
}

.deck-cover::after {
  transform: rotate(3deg) translate(10px, 8px);
}

.card-front.deck-1 {
  background-image: url('./img/firstdate3.jpg');
  background-size: cover;
  color: #faf9f6;
  background-position: center;
  background-repeat: no-repeat;
}

.deck-cover.deck-1::after {
  background-image:
    radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%),
    url('./img/firstdate3.jpg');
  background-size: cover;
  background-position: center;
}

.deck-cover.deck-1::before {
  background-image:
    radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%),
    url('./img/firstdate3.jpg');
  background-size: cover;
  background-position: center;
}

.card-front.deck-2 {
  background-image: url('./img/fam.jpg');
  background-size: cover;
  color: #fffffd;
  background-position: center;
  background-repeat: no-repeat;
}

.deck-cover.deck-2::after {
  background-image:
    radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%),
    url('./img/fam.jpg');
  background-size: cover;
  background-position: center;
}

.deck-cover.deck-2::before {
  background-image:
    radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%),
    url('./img/fam.jpg');
  background-size: cover;
  background-position: center;
}

.card-front.deck-3 {
  background-image: url('./img/youtube1.jpg');
  background-size: cover;
  color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
}

.deck-cover.deck-3::after {
  background-image:
    radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%),
    url('./img/youtube1.jpg');
  background-size: cover;
  background-position: center;
}

.deck-cover.deck-3::before {
  background-image:
    radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%),
    url('./img/youtube1.jpg');
  background-size: cover;
  background-position: center;
}

.card-front.deck-4 {
  background-image: url('./img/pregnancy.jpg');
  background-size: cover;
  color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
}

.deck-cover.deck-4::after {
  background-image:
    radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%),
    url('./img/pregnancy.jpg');
  background-size: cover;
  background-position: center;
}

.deck-cover.deck-4::before {
  background-image:
    radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%),
    url('./img/pregnancy.jpg');
  background-size: cover;
  background-position: center;
}



.card-front.deck-5 {
  background-image: url('./img/mom1.jpg');
  background-size: cover;
  color: #fefdf8;
  background-position: center;
  background-repeat: no-repeat;
}

.deck-cover.deck-5::after {
  background-image:
    radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%),
    url('./img/mom1.jpg');
  background-size: cover;
  background-position: center;
}

.deck-cover.deck-5::before {
  background-image:
    radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%),
    url('./img/mom1.jpg');
  background-size: cover;
  background-position: center;
}

.card-front.deck-6 {
  background-image: url('./img/wedding.jpg');
  background-size: cover;
  color: #fbfbfb;
  background-position: center;
  background-repeat: no-repeat;
}

.deck-cover.deck-6::after {
  background-image:
    radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%),
    url('./img/wedding.jpg');
  background-size: cover;
  background-position: center;
}

.deck-cover.deck-6::before {
  background-image:
    radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%),
    url('./img/wedding.jpg');
  background-size: cover;
  background-position: center;
}

.card-front.deck-7 {
  background-image: url('./img/fun.jpg');
  background-size: cover;
  color: #fbfaf6;
  background-position: center;
  background-repeat: no-repeat;
}

.deck-cover.deck-7::after {
  background-image:
    radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%),
    url('./img/fun.jpg');
  background-size: cover;
  background-position: center;
}

.deck-cover.deck-7::before {
  background-image:
    radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%),
    url('./img/fun.jpg');
  background-size: cover;
  background-position: center;
}


.card-front.deck-8 {
  background-image: url('./img/kids.jpg');
  background-size: cover;
  color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
}

.deck-cover.deck-8::after {
  background-image:
    radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%),
    url('./img/kids.jpg');
  background-size: cover;
  background-position: center;
}

.deck-cover.deck-8::before {
  background-image:
    radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%),
    url('./img/kids.jpg');
  background-size: cover;
  background-position: center;
}

.card-front.deck-9 {
  background-image: url('./img/journaling.jpg');
  background-size: cover;
  color: #fbfbfb;
  background-position: center;
  background-repeat: no-repeat;
}

.deck-cover.deck-9::after {
  background-image:
    radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%),
    url('./img/journaling.jpg');
  background-size: cover;
  background-position: center;
}

.deck-cover.deck-9::before {
  background-image:
    radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%),
    url('./img/journaling.jpg');
  background-size: cover;
  background-position: center;
}

.filter-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  margin-bottom: 20px;
}


.filter-button {
  padding: 20px;


}

.ffilter-header button:hover {
  background-color: #00f2fe;
}

.filter-header {
  text-align: center;
  /* margin: 30px 0; */
}

/* .filter-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
} */

.filter-menu {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-button {
  padding: 8px 16px;
  background: var(--main-background-color, white);
  color: var(--main-text-color, black);
  border: 1px solid var(--main-outline-color, rgba(0, 0, 0, 0.15));
  border-radius: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-button:hover {
  background: rgba(0, 0, 0, 0.05);
  /* soft transparent background */
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.filter-button.active {
  background: var(--main-text-color, black);
  color: var(--main-background-color, white);
  border-color: var(--dense-outline-color, rgba(0, 0, 0, 0.5));
}


.instruction-container {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  padding: 100px 20px;
  gap: 10px;
  flex-wrap: wrap;
  /* margin-bottom: 20px; */
}

.info-box {
  width: 250px;
  /* border: 1px solid black; */
  padding: 20px;
}

.info-box h2 {
  font-size: 1.7rem;
}


.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.auth-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.auth-button {
  padding: 0.5rem 1rem;
  border: 1px solid #333;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-button:hover {
  background: #333;
  color: white;
}

.main-content {
  flex: 1;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.welcome-text {
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;
  line-height: 1.6;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .main-header {
    padding: 1rem;
  }

  .auth-buttons {
    gap: 0.5rem;
  }

  .auth-button {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }

  .welcome-text {
    display: none;
  }
}


.game-container {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  width: 100vw;

  justify-content: center;
  align-items: center;
  overflow: hidden;
}